body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      ), url('../assets/wood.jpg');
    background-size: 100%;
}

h4 {
    color: rgb(253, 158, 34);
}

.content {
    width: 100vw;
    height: 50vh;
}

.playAgainBTN  {
    :hover{
        cursor: pointer;
    }
    width: 130px;
    height: 40px;
    background: rgb(0, 78, 0);
    border-width: 2px;
    border-color: rgb(158, 90, 0);
    border-style: solid;
    text-align: center;
    padding: 4px;
    border-radius: 8px;
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #fff;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #fff;    }
}

.col1 {
   // display: inline-block;
    margin-top: 0px;
    margin-left: 6.7vw;
    width: 25vw;  
    height: 50vh;
}

.col2 {
    position: fixed;
    right: 10vw;
    margin-top: 21px;
    padding: 0;
    width: 20vw;
    min-width: 40vw;
    height: 50vh;
    z-index: 1000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cols {
    width: 4vw;
    height: auto;
    float: left;
    padding: 0px;
    padding: 0;
    margin: 0;
 }

.board {
    position: relative;
    height: auto;
    width: 36.1vw;
    height: auto;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.title {
    width: 340px;
    height: 10px;
    text-align: center;
    color: white;   
    font-size: 3em;
    font-weight: bold;
    margin-left: 13vw;
    margin-right: auto;
    margin-top: 6vh;
    padding-bottom: 50px;
    text-align: center;
}

.stoneMarker {
    width: 70%;
    height: 70%;
    background: url('../assets/marker.png');
    background-size: 100%;
    margin-top: 15%;
    margin-left: 15%;
    padding: 0;
}

.humanPlayerStats {
    overflow: hidden;
    display: inline-block;
    background: url('../assets/green_felt.jpg');
    background-repeat: repeat;
    padding: 14px;
    min-width: 240px;
    height: 40vh;
    border-width: 2px;
    border-color: rgb(158, 90, 0);
    border-style: solid;
}

.computerPlayerStats {
    overflow: hidden;
    display: inline-block;
    margin-left: 3vw;
    background: url('../assets/green_felt.jpg');
    background-repeat: repeat;
    padding: 14px;
    min-width: 240px;
    height: 40vh;
    border-width: 2px;
    border-color: rgb(158, 90, 0);
    border-style: solid;
}

.infoBlackChip {
    width: 50px;
    height: auto;
    float: right;
}

.stoneBlack {
    width: 100%;
    height: 100%;
    background: url('../assets/black_chip.png');
    background-size: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
}

.stoneWhite {
    width: 100%;
    height: 100%;
    background: url('../assets/white_chip.png');
    background-size: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
}

.intersect {
    width: 4vw;
    height: 4vw;
    padding: 2px;
    margin: 0;
    margin-right: 2vw;
    border-width: 2px;
    border-color: rgb(46, 46, 46);
    border-style: solid;
    background: url('../assets/green_felt.jpg');
    background-size: 100%;
}



